---
import i18next from "i18next";
import { localizePath } from "astro-i18next";

const currentLanguage = i18next.language;
const { pathname } = Astro.url;

const { languages } = Astro.props;
---

{
    languages.map(({ locale, label }) => {
        let value = localizePath(pathname, locale);

        return (
            <a
                href={value}
                id="item"
                class={`${
                    locale === currentLanguage ? "active" : ""
                } block text-base leading-none whitespace-nowrap text-center py-4 last:pr-0 border-b border-gray-400 border-opacity-10 last:border-transparent`}
            >
                {label}
            </a>
        );
    })
}

<script>
    const elem = document.getElementById('item');
    elem.addEventListener('click', (e) => e.stopPropagation())
</script>
