---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
const { pathname } = Astro.url;
const { menuList } = Astro.props;
---

{
    menuList.map(({ title, href }) => (
        <a
            class={`${
                pathname === localizePath(href) ? "active" : ""
            } is-clickable block text-base leading-none whitespace-nowrap text-center py-4 last:pr-0 border-b border-gray-400 border-opacity-10 last:border-transparent`}
            href={localizePath(href)}
        >
            {t(`menu.${title}`)}
        </a>
    ))
}
