---
import { Icon } from 'astro-icon';
---

<div>
    <button
        class="flex items-center justify-center w-8 h-8 xl:hidden"
        ><Icon name="icon-park-outline:hamburger-button" /></button
    >
</div>
