---
import { t } from 'i18next';
import SectionLayout from '../../../layouts/SectionLayout.astro';
import NumberCard from '../../cards/NumberCard.astro';
import Videos from '../../videos/Videos';
import { NUMBER_CARDS } from '../../../constants/constants';
---

<SectionLayout sectionClasses='bg-white numbers-bg' title={t('home.numbers')}>
  <div
    id="numbers"
    class='grid grid-cols-4 gap-5 mt-[72px] [&>div]:flex [&>div]:flex-col [&>div]:items-center'
  >
    {
      NUMBER_CARDS.map(({ number, text, id }) => {
        return (
          <div>
            <NumberCard id={id} number={number} text={text} />
          </div>
        );
      })
    }
  </div>
  <h2
    class='text-[42px] leading-[150%] font-medium text-center text-black-light mt-[140px] mb-[52px]'
  >
    {t('home.video')}
  </h2>
  <Videos client:load />
</SectionLayout>

<script>
    const numbers = document.getElementById('numbers');
    let flag = false;

    function counter(id: string, start: number, end: number, duration: number) {
      let obj: Node | null = document.getElementById(id),
        current = start,
        range = end - start,
        increment = end > start ? 1 : -1,
        step = Math.abs(Math.floor(duration / range)),
        timer = setInterval(() => {
          current += increment;
          obj.textContent = current.toString();
          if (current == end) {
            clearInterval(timer);
          }
        }, step);
    }

    function isInViewport(el: HTMLElement) {
    const rect = el.getBoundingClientRect();
    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)

    );
}

    window.addEventListener('scroll', () => {
        if (flag) return;

        if(isInViewport(numbers)) {
            flag = true;
            counter('count1', 0, 150, 4000);
            counter('count2', 0, 13, 4000);
            counter('count3', 0, 5, 4000);
            counter('count4', 0, 3, 4000);
        }
    })
</script>
