---
import i18next from "i18next";
import { localizePath } from "astro-i18next";
import { Image } from "@astrojs/image/components";
import LanguageMenu from "../menu/LanguageMenu";
import LanguageList from "../menu/LanguageList.astro";
import { LANG_LIST, MENU_LIST } from "../../constants/constants";
import FooterMenu from './FooterMenu.astro';

const currentLanguage = i18next.language;
const activeLanguage = LANG_LIST.find(
    (language) => language.locale === currentLanguage
);
---

<section
    class="w-full pt-[70px] pb-[52px] px-[30px] xl:px-[70px] bg-black-dark"
>
    <div
        class="grid grid-cols-footer justify-between gap-[1%] w-full max-w-[1110px] mx-auto"
    >
        <div>
            <div class="flex items-end">
                <a href={localizePath("/")}>
                    <Image
                        width={190}
                        height={59}
                        format="svg"
                        src="/images/logo-gray.svg"
                        alt="logo-img"
                        class="min-w-[130px] xl:max-w-[170px]"
                    />
                </a>
                <p
                    class="text-base xl:text-xl !leading-[120%] whitespace-nowrap font-medium text-gray-light border-l-[1px] border-[#838383] ml-4 pl-4"
                >
                    Professional building <br /> of salt rooms
                </p>
            </div>
            <p class="text-[15px] text-gray font-medium mt-[53px]">
                © 1995-2023 Vedis | Developed and support Developers Company
            </p>
        </div>
        <div class="flex flex-col items-start">
            <FooterMenu menuList={MENU_LIST} />
        </div>
        <div class="flex flex-col">
            <h6 class="text-base text-gray-light font-medium">
                If you have any questions, call right now
            </h6>
            <div class="flex items-center mt-5">
                <div class="text-xl text-white font-bold">
                    <p>
                        <span class="text-sm text-[#7B8487]">+38</span> (093) 833-29-99
                    </p>
                    <p>
                        <span class="text-sm text-[#7B8487]">+38</span> (066) 591-47-67
                    </p>
                    <p>
                        <span class="text-sm text-[#7B8487]">+38</span> (093) 652-05-62
                    </p>
                </div>
            </div>
        </div>
        <div>
            <LanguageMenu locale={activeLanguage} labelColor={'text-gray-light'} arrowColor={'light'} client:load>
                <LanguageList languages={LANG_LIST} />
            </LanguageMenu>
        </div>
    </div>
</section>
