---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("ua");
---

<Layout title="Welcome to Astro.">
		<h1>{t('home.title')}</h1>
		<p class="text-lg text-red-600 uppercase">
			{t('home.subtitle')}
		</p>
        <p>Current language - {i18next.language}</p>
</Layout>
